<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Официальная страница КПРФ</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="MainHeder">
		<a class="MainText" href="/Capital">Хроники капитализма</a>

		<div class="MainMenu">
			<center>
				<a href="/Voice" class="Menu">Голос пролетариата</a>
				<a href="/Memory" class="Menu">Памятка гражданина</a>
				<a href="/Pioner" class="Menu">Календарь пионера</a>
				<a href="/Work" class="Menu">Гордость рабочего</a>
			</center>
		</div>
		{% if User %}
		<a href="/User"><img src="{{User.Avatar}}" class="MiniAvatar"></img></a>
		{% else %}
		<a href="/Regist"><img src="{{ url_for('static', filename='Design/UserAvatars/0.jpg') }}" class="MiniAvatar"></img></a>
		{% endif %}
		<div class="MainBack"></div>
		<div class="MainBlur"></div>

	</div class="MainNews">
		<center class="MainTitle">Доверенные издательства</center>
		<center class="MainMagaz">
			{% for i in magaz %}
			<img class="SlideMagaz" src="{{i}}">
			{% endfor %}
		</center>
		{% if news %}
		<center class="MainTitle">На повестке дня</center>
		{% endif %}
	<div>

</body>
</html>