<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Официальная страница КПРФ</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="MainHeder">
		{% if User %}
		<a class="MainText" href="/Capital/{{User.Id}}">Хроники капитализма</a>
		{% else %}
		<a class="MainText" href="/Capital/-1">Хроники капитализма</a>
		{% endif %}

		<div class="MainMenu">
			<center>
				{% if User %}
				<a href="/Voice/{{User.Id}}" class="Menu">Голос пролетариата</a>
				<a href="/Memory/{{User.Id}}" class="Menu">Памятка гражданина</a>
				<a href="/Pioner/{{User.Id}}" class="Menu">Календарь пионера</a>
				<a href="/Work/{{User.Id}}" class="Menu">Гордость рабочего</a>
				{% else %}
				<a href="/Voice/-1" class="Menu">Голос пролетариата</a>
				<a href="/Memory/-1" class="Menu">Памятка гражданина</a>
				<a href="/Pioner/-1" class="Menu">Календарь пионера</a>
				<a href="/Work/-1" class="Menu">Гордость рабочего</a>
				{% endif %}
			</center>
		</div>
		{% if User %}
		<a href="/User/{{User.Id}}"><img src="{{User.Avatar}}" class="MiniAvatar"></img></a>
		{% else %}
		<a href="/Regist"><img src="{{ url_for('static', filename='Design/UserAvatars/0.jpg') }}" class="MiniAvatar"></img></a>
		{% endif %}
		<div class="MainBack"></div>
		<div class="MainBlur"></div>

	</div class="MainNews">
		<center class="MainTitle">Доверенные издательства</center>
		<center class="MainMagaz">
			{% for i in magaz %}
			<img class="SlideMagaz" src={{i}}>
			{% endfor %}
		</center>
		{% if news %}
		<center class="MainTitle">На повестке дня</center>
		{% endif %}
	<div>

</body>
</html>