<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Официальная страница КПРФ</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="MainHeder">
		<a class="MainText" href="/Memory">Памятка гражданина</a>

		<div class="MainMenu">
			<center>
				<a href="/Capital" class="Menu">Хроники капитализма</a>
				<a href="/Voice" class="Menu">Голос пролетариата</a>
				<a href="/Pioner" class="Menu">Календарь пионера</a>
				<a href="/Work" class="Menu">Гордость рабочего</a>
			</center>
		</div>
		{% if User %}
		<a href="/User"><img src="{{User.Avatar}}" class="MiniAvatar"></img></a>
		{% else %}
		<a href="/Regist"><img src="{{ url_for('static', filename='Design/UserAvatars/0.jpg') }}" class="MiniAvatar"></img></a>
		{% endif %}
		<div class="MainBack"></div>
		<div class="MainBlur"></div>
	</div>

	<div class="Memory">
		<center class="MainTitle">Товарищ, помни!</center>
		<center class="MiniTitle">Их идол - золотой телец!</center>
		<center class="MainTitle">Помни заветы великого Ленина!</center>
		<center class="Slider">
			{% for i in mems %}
			<img class="Slide" src="{{i}}">
			{% endfor %}
		</center>
	</div>

</body>
</html>