<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Официальная страница КПРФ</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="MainHeder">
		{% if User %}
		<a class="MainText" href="/Memory/{{User.Id}}">Памятка гражданина</a>
		{% else %}
		<a class="MainText" href="/Memory/-1">Памятка гражданина</a>
		{% endif %}

		<div class="MainMenu">
			<center>
				{% if User %}
				<a href="/Capital/{{User.Id}}" class="Menu">Хроники капитализма</a>
				<a href="/Voice/{{User.Id}}" class="Menu">Голос пролетариата</a>
				<a href="/Pioner/{{User.Id}}" class="Menu">Календарь пионера</a>
				<a href="/Work/{{User.Id}}" class="Menu">Гордость рабочего</a>
				{% else %}
				<a href="/Capital/-1" class="Menu">Хроники капитализма</a>
				<a href="/Voice/-1" class="Menu">Голос пролетариата</a>
				<a href="/Pioner/-1" class="Menu">Календарь пионера</a>
				<a href="/Work/-1" class="Menu">Гордость рабочего</a>
				{% endif %}
			</center>
		</div>
		{% if User %}
		<a href="/User/{{User.Id}}"><img src="{{User.Avatar}}" class="MiniAvatar"></img></a>
		{% else %}
		<a href="/Regist"><img src="{{ url_for('static', filename='Design/UserAvatars/0.jpg') }}" class="MiniAvatar"></img></a>
		{% endif %}
		<div class="MainBack"></div>
		<div class="MainBlur"></div>
	</div>

	<div class="Memory">
		<center class="MainTitle">Товарищ, помни!</center>
		<center class="MiniTitle">Их идол - золотой телец!</center>
		<center class="MainTitle">Помни заветы великого Ленина!</center>
		<center class="Slider">
			{% for i in mems %}
			<img class="Slide" src="{{i}}">
			{% endfor %}
		</center>
	</div>

</body>
</html>